.App {
  text-align: center;
  background-color: #27292d;
}

.App-container {
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
  text-align: -webkit-center;
}

.App-container .app_header{
  padding: 16px;
}

.App-container .eth_logo {
  height: 128px;
  margin: 32px;
}

.App-container .button {
  margin: 72px;
}

.background_video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

:not(video) {
  z-index: 1;
}

.App-container .fabs {
  background-color: #27292d;
  display: flex;
  position: fixed;
  right: 6vw;
  bottom: 8vh;
  flex-direction: column-reverse;
  align-items: flex-end;
}